body {
  margin: 0;
  padding: 0;
}

.visualizer {
  font-family: 'Roboto', sans-serif;

  h1 {
    font-weight: 900;
    display: inline-block;
    margin: 0 25px 0 0;
    padding: 0 25px;
    background-color: lightcoral;
    line-height: 100px;
  }

  input[type=file] {
    display: none;
  }

  button {
    border: 3px solid lightcoral;
    background: none;
    border-color: 25px;
    font-size: 18px;
    padding: 0 25px;
    line-height: 50px;
    cursor: pointer;

    &:hover {
      background-color: lightcoral;
    }
  }
}
